In [1]:
import pandas as pd
# load CSV using pandas
from pandas import read_csv
filename = 'OnlineRetail.csv'
names = ["InvNo", "SKU", "Descr", "Qty", "InvDate",
"UnitP", "CusID", "Cntry"]
sales = read_csv(filename, header=0, names=names,
encoding = "ISO-8859-1")
# drop some column
sales.drop('Descr', axis=1, inplace=True)
print(sales.shape)
print(sales.head())
print(sales.dtypes)

(541909, 7)
    InvNo     SKU  Qty          InvDate  UnitP    CusID           Cntry
0  536365  85123A    6  2010-12-01 8:26   2.55  17850.0  United Kingdom
1  536365   71053    6  2010-12-01 8:26   3.39  17850.0  United Kingdom
2  536365  84406B    8  2010-12-01 8:26   2.75  17850.0  United Kingdom
3  536365  84029G    6  2010-12-01 8:26   3.39  17850.0  United Kingdom
4  536365  84029E    6  2010-12-01 8:26   3.39  17850.0  United Kingdom
InvNo       object
SKU         object
Qty          int64
InvDate     object
UnitP      float64
CusID      float64
Cntry       object
dtype: object

In [2]:
# group by customer ID
by_customer = sales.groupby('CusID')
# aggregate transactions in sales by "counting SKU"
# Important Note:
# "counting SKU" only means that the number of rows
# that contain an entry for SKU are counted
count_by_customer = by_customer['SKU'].count()
print(count_by_customer)
# Then, how many transactions are there for each
# individual SKU sold to a particular customer?

CusID
12346.0      2
12347.0    182
12348.0     31
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     13
18283.0    756
18287.0     70
Name: SKU, Length: 4372, dtype: int64

In [3]:
# group by customer ID and StockCode
by_customer_SKU = sales.groupby(['CusID','SKU'])
# aggregate transactions in sales by "counting SKU"
# Again:
# "counting SKU" only means that the number of rows
# that contain an entry for SKU are counted
count_by_customer_SKU = by_customer_SKU['SKU'].count()
print(count_by_customer_SKU)

CusID    SKU
12346.0  23166     2
12347.0  16008     1
         17021     1
         20665     1
         20719     4
                  ..
18287.0  84920     1
         85039A    2
         85039B    3
         85040A    2
         85173     1
Name: SKU, Length: 267615, dtype: int64

In [7]:
# group by Country and aggregate all columns
# print(sales.groupby('Cntry').count())
# group by SKU and sum up Qty
# or: How many of each SKU been sold?
# Note: Returns have a negative Qty
print(sales.groupby('SKU')['Qty'].sum())
# How many of each SKU have been sold to each customer?
print(sales.groupby(['CusID','SKU'])['Qty'].sum())
# group by InvNo and find the average unit price
print(sales.groupby('InvNo')['UnitP'].mean())

SKU
10002           1037
10080            495
10120            193
10123C           -13
10123G           -38
                ...
gift_0001_20      20
gift_0001_30      37
gift_0001_40       3
gift_0001_50       4
m                  1
Name: Qty, Length: 4070, dtype: int64
CusID    SKU
12346.0  23166       0
12347.0  16008      24
         17021      36
         20665       6
         20719      40
                  ...
18287.0  84920       4
         85039A     96
         85039B    120
         85040A     48
         85173      48
Name: Qty, Length: 267615, dtype: int64
InvNo
536365       3.910000
536366       1.850000
536367       4.853333
536368       4.775000
536369       5.950000
              ...
C581484      2.080000
C581490      1.390000
C581499    224.690000
C581568     10.950000
C581569      1.250000
Name: UnitP, Length: 25900, dtype: float64

In [8]:
# Important note:
# ♦ If you aggregate only one column, a Series will
# be returned.
# ♦ If you aggregate multiple columns, a DataFrame
# will be returned.
# What if we always want to get a DataFrame?
# group by SKU and sum up Qty
print(pd.DataFrame(sales.groupby('SKU')['Qty'].sum()))

               Qty
SKU
10002         1037
10080          495
10120          193
10123C         -13
10123G         -38
...            ...
gift_0001_20    20
gift_0001_30    37
gift_0001_40     3
gift_0001_50     4
m                1

[4070 rows x 1 columns]

In [11]:
# group by Country
by_country = sales.groupby('Cntry')
# select Qty and UnitP
by_country_sub = by_country[['Qty','UnitP']]
# aggregate columns in the sub DF by 'max' and 'median'
# use method ".agg()"
aggregated = by_country_sub.agg(['max','median'])
# print the maximum Qty for each country (sorted)
print(aggregated[('Qty','max')].sort_values())
# print the median UnitP for each country
print(aggregated[('UnitP','median')])

Cntry
Saudi Arabia               12
RSA                        12
Brazil                     24
European Community         24
Lebanon                    24
Unspecified                48
Malta                      48
Lithuania                  48
Greece                     48
United Arab Emirates       72
USA                        72
Poland                     72
Czech Republic             72
Bahrain                    96
Israel                    100
Portugal                  120
Hong Kong                 144
Finland                   144
Italy                     200
Iceland                   240
Norway                    240
Denmark                   256
Belgium                   272
Cyprus                    288
Switzerland               288
Austria                   288
Singapore                 288
Spain                     360
Channel Islands           407
Canada                    504
Germany                   600
Sweden                    768
France                    912
Australia                1152
EIRE                     1440
Japan                    2040
Netherlands              2400
United Kingdom          80995
Name: (Qty, max), dtype: int64
Cntry
Australia               1.790
Austria                 1.950
Bahrain                 3.810
Belgium                 1.950
Brazil                  3.320
Canada                  1.650
Channel Islands         2.550
Cyprus                  2.950
Czech Republic          1.450
Denmark                 1.950
EIRE                    2.100
European Community      3.350
Finland                 2.080
France                  1.790
Germany                 1.950
Greece                  2.100
Hong Kong               2.325
Iceland                 2.015
Israel                  1.950
Italy                   2.550
Japan                   1.650
Lebanon                 3.950
Lithuania               2.550
Malta                   2.950
Netherlands             1.450
Norway                  2.080
Poland                  2.080
Portugal                1.650
RSA                     2.950
Saudi Arabia            2.300
Singapore               2.100
Spain                   2.080
Sweden                  1.650
Switzerland             1.690
USA                     1.450
United Arab Emirates    1.670
United Kingdom          2.100
Unspecified             1.650
Name: (UnitP, median), dtype: float64

In [12]:
print(aggregated.head())

            Qty          UnitP
            max median     max median
Cntry
Australia  1152   24.0  350.00   1.79
Austria     288    9.0   40.00   1.95
Bahrain      96    6.0   12.75   3.81
Belgium     272   10.0   39.95   1.95
Brazil       24   10.0   10.95   3.32

In [13]:
# MUlti Level Row Index
sales = read_csv(filename, header=0, names=names,
encoding = "ISO-8859-1",
index_col=['Cntry','CusID','InvNo','SKU'])
print(sales.head(12))

                                                                    Descr  \
Cntry          CusID   InvNo  SKU
United Kingdom 17850.0 536365 85123A   WHITE HANGING HEART T-LIGHT HOLDER
                              71053                   WHITE METAL LANTERN
                              84406B       CREAM CUPID HEARTS COAT HANGER
                              84029G  KNITTED UNION FLAG HOT WATER BOTTLE
                              84029E       RED WOOLLY HOTTIE WHITE HEART.
                              22752          SET 7 BABUSHKA NESTING BOXES
                              21730     GLASS STAR FROSTED T-LIGHT HOLDER
                       536366 22633                HAND WARMER UNION JACK
                              22632             HAND WARMER RED POLKA DOT
               13047.0 536367 84879         ASSORTED COLOUR BIRD ORNAMENT
                              22745            POPPY'S PLAYHOUSE BEDROOM
                              22748             POPPY'S PLAYHOUSE KITCHEN

                                      Qty          InvDate  UnitP
Cntry          CusID   InvNo  SKU
United Kingdom 17850.0 536365 85123A    6  2010-12-01 8:26   2.55
                              71053     6  2010-12-01 8:26   3.39
                              84406B    8  2010-12-01 8:26   2.75
                              84029G    6  2010-12-01 8:26   3.39
                              84029E    6  2010-12-01 8:26   3.39
                              22752     2  2010-12-01 8:26   7.65
                              21730     6  2010-12-01 8:26   4.25
                       536366 22633     6  2010-12-01 8:28   1.85
                              22632     6  2010-12-01 8:28   1.85
               13047.0 536367 84879    32  2010-12-01 8:34   1.69
                              22745     6  2010-12-01 8:34   2.10
                              22748     6  2010-12-01 8:34   2.10

In [14]:
# To group by Cntry and CusID you should use the level
# parameter:
by_country_customer = sales.groupby(level=['Cntry','CusID'])
print(by_country_customer.count())

                        Descr  Qty  InvDate  UnitP
Cntry          CusID
Australia      12386.0     10   10       10     10
               12388.0    100  100      100    100
               12393.0     64   64       64     64
               12415.0    778  778      778    778
               12422.0     21   21       21     21
...                       ...  ...      ...    ...
United Kingdom 18287.0     70   70       70     70
Unspecified    12363.0     23   23       23     23
               12743.0    134  134      134    134
               14265.0     31   31       31     31
               16320.0     56   56       56     56

[4380 rows x 4 columns]

In [16]:
by_country_customer = sales.groupby(level=['Cntry','CusID'])
ccc = by_country_customer.count()
ccc = ccc.reset_index()
print(ccc)
# flatten the index of sales as well, i.e., reset it:
sales = sales.reset_index()

               Cntry    CusID  Descr  Qty  InvDate  UnitP
0          Australia  12386.0     10   10       10     10
1          Australia  12388.0    100  100      100    100
2          Australia  12393.0     64   64       64     64
3          Australia  12415.0    778  778      778    778
4          Australia  12422.0     21   21       21     21
...              ...      ...    ...  ...      ...    ...
4375  United Kingdom  18287.0     70   70       70     70
4376     Unspecified  12363.0     23   23       23     23
4377     Unspecified  12743.0    134  134      134    134
4378     Unspecified  14265.0     31   31       31     31
4379     Unspecified  16320.0     56   56       56     56

[4380 rows x 6 columns]

In [20]:
# parsing InvDate as date
sales = read_csv(filename, header=0, names=names,
encoding = "ISO-8859-1", parse_dates=['InvDate'])
print(sales.head())
# parsing InvDate as date and making it the index
sales = read_csv(filename, header=0, names=names,
encoding = "ISO-8859-1", index_col='InvDate',
parse_dates=True)
print(sales.head())
# For non-standard datetime parsing, use pd.to_datetime
# after pd.read_csv, e.g.,
# sales['InvDate'] = pd.to_datetime(sales['InvDate'],
# format='%Y-%m-%d %H:%M')

    InvNo     SKU                                Descr  Qty  \
0  536365  85123A   WHITE HANGING HEART T-LIGHT HOLDER    6
1  536365   71053                  WHITE METAL LANTERN    6
2  536365  84406B       CREAM CUPID HEARTS COAT HANGER    8
3  536365  84029G  KNITTED UNION FLAG HOT WATER BOTTLE    6
4  536365  84029E       RED WOOLLY HOTTIE WHITE HEART.    6

              InvDate  UnitP    CusID           Cntry
0 2010-12-01 08:26:00   2.55  17850.0  United Kingdom
1 2010-12-01 08:26:00   3.39  17850.0  United Kingdom
2 2010-12-01 08:26:00   2.75  17850.0  United Kingdom
3 2010-12-01 08:26:00   3.39  17850.0  United Kingdom
4 2010-12-01 08:26:00   3.39  17850.0  United Kingdom
                      InvNo     SKU                                Descr  Qty  \
InvDate
2010-12-01 08:26:00  536365  85123A   WHITE HANGING HEART T-LIGHT HOLDER    6
2010-12-01 08:26:00  536365   71053                  WHITE METAL LANTERN    6
2010-12-01 08:26:00  536365  84406B       CREAM CUPID HEARTS COAT HANGER    8
2010-12-01 08:26:00  536365  84029G  KNITTED UNION FLAG HOT WATER BOTTLE    6
2010-12-01 08:26:00  536365  84029E       RED WOOLLY HOTTIE WHITE HEART.    6

                     UnitP    CusID           Cntry
InvDate
2010-12-01 08:26:00   2.55  17850.0  United Kingdom
2010-12-01 08:26:00   3.39  17850.0  United Kingdom
2010-12-01 08:26:00   2.75  17850.0  United Kingdom
2010-12-01 08:26:00   3.39  17850.0  United Kingdom
2010-12-01 08:26:00   3.39  17850.0  United Kingdom

In [21]:
# parsing InvDate as date
sales = read_csv(filename, header=0, names=names,
encoding = "ISO-8859-1", parse_dates=['InvDate'])
print(sales.head())
# grouping by weekday
by_day = sales.groupby(sales.InvDate.dt.strftime('%a'))
# how many units were sold each weekday?
qty_sum = by_day['Qty'].sum()
print(qty_sum.sort_values(ascending=False))
# following the natural weekday ordering, categories are:
cats = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
qty_sum.reindex(cats)

    InvNo     SKU                                Descr  Qty  \
0  536365  85123A   WHITE HANGING HEART T-LIGHT HOLDER    6
1  536365   71053                  WHITE METAL LANTERN    6
2  536365  84406B       CREAM CUPID HEARTS COAT HANGER    8
3  536365  84029G  KNITTED UNION FLAG HOT WATER BOTTLE    6
4  536365  84029E       RED WOOLLY HOTTIE WHITE HEART.    6

              InvDate  UnitP    CusID           Cntry
0 2010-12-01 08:26:00   2.55  17850.0  United Kingdom
1 2010-12-01 08:26:00   3.39  17850.0  United Kingdom
2 2010-12-01 08:26:00   2.75  17850.0  United Kingdom
3 2010-12-01 08:26:00   3.39  17850.0  United Kingdom
4 2010-12-01 08:26:00   3.39  17850.0  United Kingdom
InvDate
Thu    1167823
Wed     969558
Tue     961543
Mon     815354
Fri     794440
Sun     467732
Name: Qty, dtype: int64

InvDate
Mon     815354.0
Tue     961543.0
Wed     969558.0
Thu    1167823.0
Fri     794440.0
Sat          NaN
Sun     467732.0
Name: Qty, dtype: float64

In [22]:
# import zscore
from scipy.stats import zscore
# standardize quantities
# Simply put, a z-score (also called a standard score) gives you an idea of how far from the mean a data point is
standardized = zscore(sales['Qty'])
print(pd.Series(standardized).head())

0   -0.016289
1   -0.016289
2   -0.007118
3   -0.016289
4   -0.016289
Name: Qty, dtype: float64

In [24]:
# But what are the Z-Scores with respect to individual
# customers?
# First, drop the NANs:
sales = sales.dropna()
# Then, calculate the Z-scores:
standardized = pd.DataFrame(
sales.groupby('CusID')['Qty'].transform(zscore))

In [25]:
# construct a Boolean Series to identify outliers:
outliers = ((standardized['Qty'] < -3) |
(standardized['Qty'] > 3))
# filter by outliers:
sales_outliers = sales[outliers]
print(sales_outliers.head())

      InvNo     SKU                               Descr  Qty  \
9    536367   84879       ASSORTED COLOUR BIRD ORNAMENT   32
46   536371   22086     PAPER CHAIN KIT 50'S CHRISTMAS    80
96   536378   21212     PACK OF 72 RETROSPOT CAKE CASES  120
102  536378  85071B  RED CHARLIE+LOLA PERSONAL DOORSIGN   96
147  536382   22381              TOY TIDY PINK POLKADOT   50

                InvDate  UnitP    CusID           Cntry
9   2010-12-01 08:34:00   1.69  13047.0  United Kingdom
46  2010-12-01 09:00:00   2.55  13748.0  United Kingdom
96  2010-12-01 09:37:00   0.42  14688.0  United Kingdom
102 2010-12-01 09:37:00   0.38  14688.0  United Kingdom
147 2010-12-01 09:45:00   1.85  16098.0  United Kingdom