In [46]:
import pandas as pd
# load CSV using pandas
from pandas import read_csv
filename = 'OnlineRetail.csv'
sales = read_csv(filename, encoding = "ISO-8859-1")
print(sales.shape)
print(sales.head())
print(sales.dtypes)
print(sales.info())
print(sales.count())

(541909, 8)
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

       InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 8:26       2.55     17850.0  United Kingdom
1  2010-12-01 8:26       3.39     17850.0  United Kingdom
2  2010-12-01 8:26       2.75     17850.0  United Kingdom
3  2010-12-01 8:26       3.39     17850.0  United Kingdom
4  2010-12-01 8:26       3.39     17850.0  United Kingdom
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
dtype: int64

In [47]:
# Load CSV using pandas
# first attempt
names = ["InvNo", "SKU", "Descr", "Qty", "InvDate",
"UnitP", "CusID", "Cntry"]
sales = read_csv(filename, names=names, encoding =
"ISO-8859-1")
print(sales.shape)
print(sales.head())
print(sales.dtypes)
# second attempt
sales = read_csv(filename, header=0, names=names,
encoding = "ISO-8859-1")
print(sales.shape)
print(sales.head())
print(sales.dtypes)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22568\2938296895.py:5: DtypeWarning: Columns (3,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = read_csv(filename, names=names, encoding =

(541910, 8)
       InvNo        SKU                                Descr       Qty  \
0  InvoiceNo  StockCode                          Description  Quantity
1     536365     85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
2     536365      71053                  WHITE METAL LANTERN         6
3     536365     84406B       CREAM CUPID HEARTS COAT HANGER         8
4     536365     84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6

           InvDate      UnitP       CusID           Cntry
0      InvoiceDate  UnitPrice  CustomerID         Country
1  2010-12-01 8:26       2.55       17850  United Kingdom
2  2010-12-01 8:26       3.39       17850  United Kingdom
3  2010-12-01 8:26       2.75       17850  United Kingdom
4  2010-12-01 8:26       3.39       17850  United Kingdom
InvNo      object
SKU        object
Descr      object
Qty        object
InvDate    object
UnitP      object
CusID      object
Cntry      object
dtype: object
(541909, 8)
    InvNo     SKU                                Descr  Qty          InvDate  \
0  536365  85123A   WHITE HANGING HEART T-LIGHT HOLDER    6  2010-12-01 8:26
1  536365   71053                  WHITE METAL LANTERN    6  2010-12-01 8:26
2  536365  84406B       CREAM CUPID HEARTS COAT HANGER    8  2010-12-01 8:26
3  536365  84029G  KNITTED UNION FLAG HOT WATER BOTTLE    6  2010-12-01 8:26
4  536365  84029E       RED WOOLLY HOTTIE WHITE HEART.    6  2010-12-01 8:26

   UnitP    CusID           Cntry
0   2.55  17850.0  United Kingdom
1   3.39  17850.0  United Kingdom
2   2.75  17850.0  United Kingdom
3   3.39  17850.0  United Kingdom
4   3.39  17850.0  United Kingdom
InvNo       object
SKU         object
Descr       object
Qty          int64
InvDate     object
UnitP      float64
CusID      float64
Cntry       object
dtype: object

In [48]:
# Within each transaction:
# Which products, what price, how often?
prodsold = sales[['SKU','Descr','UnitP','Qty']]
print(prodsold.shape)
print(prodsold.head())
# Note that the order of columns is different from the
# order in the original dataset "sales"

(541909, 4)
      SKU                                Descr  UnitP  Qty
0  85123A   WHITE HANGING HEART T-LIGHT HOLDER   2.55    6
1   71053                  WHITE METAL LANTERN   3.39    6
2  84406B       CREAM CUPID HEARTS COAT HANGER   2.75    8
3  84029G  KNITTED UNION FLAG HOT WATER BOTTLE   3.39    6
4  84029E       RED WOOLLY HOTTIE WHITE HEART.   3.39    6

In [49]:
# Revenue?
prodsold = prodsold.assign(Rev = prodsold.UnitP *
prodsold.Qty)
print(prodsold.shape)
print(prodsold.head())
# Revenue in CAD
prodsold = prodsold.assign(inCAD = prodsold.Rev)
prodsold.inCAD *= 1.5929
print(prodsold.head())
# delete inCAD column
prodsold = prodsold.drop('inCAD', axis=1)
print(prodsold.head())

(541909, 5)
      SKU                                Descr  UnitP  Qty    Rev
0  85123A   WHITE HANGING HEART T-LIGHT HOLDER   2.55    6  15.30
1   71053                  WHITE METAL LANTERN   3.39    6  20.34
2  84406B       CREAM CUPID HEARTS COAT HANGER   2.75    8  22.00
3  84029G  KNITTED UNION FLAG HOT WATER BOTTLE   3.39    6  20.34
4  84029E       RED WOOLLY HOTTIE WHITE HEART.   3.39    6  20.34
      SKU                                Descr  UnitP  Qty    Rev  inCAD
0  85123A   WHITE HANGING HEART T-LIGHT HOLDER   2.55    6  15.30  24.37
1   71053                  WHITE METAL LANTERN   3.39    6  20.34  32.40
2  84406B       CREAM CUPID HEARTS COAT HANGER   2.75    8  22.00  35.04
3  84029G  KNITTED UNION FLAG HOT WATER BOTTLE   3.39    6  20.34  32.40
4  84029E       RED WOOLLY HOTTIE WHITE HEART.   3.39    6  20.34  32.40
      SKU                                Descr  UnitP  Qty    Rev
0  85123A   WHITE HANGING HEART T-LIGHT HOLDER   2.55    6  15.30
1   71053                  WHITE METAL LANTERN   3.39    6  20.34
2  84406B       CREAM CUPID HEARTS COAT HANGER   2.75    8  22.00
3  84029G  KNITTED UNION FLAG HOT WATER BOTTLE   3.39    6  20.34
4  84029E       RED WOOLLY HOTTIE WHITE HEART.   3.39    6  20.34

In [50]:
# function to convert pound sterling to Euro
def toEuro(pound):
    return pound * 1.1663
pd.set_option("display.precision", 2)
# convert all entries in column Unit Price
prodsold['UnitP'] = prodsold['UnitP'].apply(toEuro)
# convert all entries in column Revenue
prodsold['Rev'] = prodsold['Rev'].apply(toEuro)
print(prodsold)

           SKU                                Descr  UnitP  Qty    Rev
0       85123A   WHITE HANGING HEART T-LIGHT HOLDER   2.97    6  17.84
1        71053                  WHITE METAL LANTERN   3.95    6  23.72
2       84406B       CREAM CUPID HEARTS COAT HANGER   3.21    8  25.66
3       84029G  KNITTED UNION FLAG HOT WATER BOTTLE   3.95    6  23.72
4       84029E       RED WOOLLY HOTTIE WHITE HEART.   3.95    6  23.72
...        ...                                  ...    ...  ...    ...
541904   22613          PACK OF 20 SPACEBOY NAPKINS   0.99   12  11.90
541905   22899         CHILDREN'S APRON DOLLY GIRL    2.45    6  14.70
541906   23254        CHILDRENS CUTLERY DOLLY GIRL    4.84    4  19.36
541907   23255      CHILDRENS CUTLERY CIRCUS PARADE   4.84    4  19.36
541908   22138        BAKING SET 9 PIECE RETROSPOT    5.77    3  17.32

[541909 rows x 5 columns]

In [51]:
# rename columns:
# prodsold.rename(columns={'Rev': 'Rev in Euro', 'UnitP':
# 'UnitP in Euro'}, inplace=True)
# print(prodsold)
# # rename them again:
# prodsold.rename(columns={'RevInEuro': 'Rev',
# 'UnitP_in_Euro': 'UnitP'}, inplace=True)
# print(prodsold)

In [52]:
# trim/strip white spaces around text:
prodsold['Descr'] = prodsold['Descr'].str.strip()
print(prodsold)
# change all letters to lower case:
prodsold['Descr'] = prodsold['Descr'].str.lower()
print(prodsold)
# remove full-stop:
prodsold['Descr'] = prodsold['Descr'].str.replace('.','')
print(prodsold)

           SKU                                Descr  UnitP  Qty    Rev
0       85123A   WHITE HANGING HEART T-LIGHT HOLDER   2.97    6  17.84
1        71053                  WHITE METAL LANTERN   3.95    6  23.72
2       84406B       CREAM CUPID HEARTS COAT HANGER   3.21    8  25.66
3       84029G  KNITTED UNION FLAG HOT WATER BOTTLE   3.95    6  23.72
4       84029E       RED WOOLLY HOTTIE WHITE HEART.   3.95    6  23.72
...        ...                                  ...    ...  ...    ...
541904   22613          PACK OF 20 SPACEBOY NAPKINS   0.99   12  11.90
541905   22899          CHILDREN'S APRON DOLLY GIRL   2.45    6  14.70
541906   23254         CHILDRENS CUTLERY DOLLY GIRL   4.84    4  19.36
541907   23255      CHILDRENS CUTLERY CIRCUS PARADE   4.84    4  19.36
541908   22138         BAKING SET 9 PIECE RETROSPOT   5.77    3  17.32

[541909 rows x 5 columns]
           SKU                                Descr  UnitP  Qty    Rev
0       85123A   white hanging heart t-light holder   2.97    6  17.84
1        71053                  white metal lantern   3.95    6  23.72
2       84406B       cream cupid hearts coat hanger   3.21    8  25.66
3       84029G  knitted union flag hot water bottle   3.95    6  23.72
4       84029E       red woolly hottie white heart.   3.95    6  23.72
...        ...                                  ...    ...  ...    ...
541904   22613          pack of 20 spaceboy napkins   0.99   12  11.90
541905   22899          children's apron dolly girl   2.45    6  14.70
541906   23254         childrens cutlery dolly girl   4.84    4  19.36
541907   23255      childrens cutlery circus parade   4.84    4  19.36
541908   22138         baking set 9 piece retrospot   5.77    3  17.32

[541909 rows x 5 columns]
           SKU                                Descr  UnitP  Qty    Rev
0       85123A   white hanging heart t-light holder   2.97    6  17.84
1        71053                  white metal lantern   3.95    6  23.72
2       84406B       cream cupid hearts coat hanger   3.21    8  25.66
3       84029G  knitted union flag hot water bottle   3.95    6  23.72
4       84029E        red woolly hottie white heart   3.95    6  23.72
...        ...                                  ...    ...  ...    ...
541904   22613          pack of 20 spaceboy napkins   0.99   12  11.90
541905   22899          children's apron dolly girl   2.45    6  14.70
541906   23254         childrens cutlery dolly girl   4.84    4  19.36
541907   23255      childrens cutlery circus parade   4.84    4  19.36
541908   22138         baking set 9 piece retrospot   5.77    3  17.32

[541909 rows x 5 columns]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22568\963625076.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prodsold['Descr'] = prodsold['Descr'].str.replace('.','')

In [53]:
# Sorting by Unit Price
sorted = prodsold.sort_values(['UnitP'])

print(sorted.head(10))
# First sort by Unit Price, then by Quantity
sorted = prodsold.sort_values(['UnitP','Qty'])
print(sorted.head(10))

           SKU                           Descr     UnitP   Qty       Rev
299984       B                 adjust bad debt -12901.68     1 -12901.68
299983       B                 adjust bad debt -12901.68     1 -12901.68
40984    22652               travel sewing kit      0.00     1      0.00
52217   84562A                             NaN      0.00     1      0.00
52262     POST                             NaN      0.00  1000      0.00
344867   85215                         damaged      0.00   -29     -0.00
204945   85016                             NaN      0.00     5      0.00
104419  18098C  porcelain butterfly oil burner      0.00     6      0.00
104418   20615    blue polkadot passport cover      0.00     3      0.00
115488  35610C                     thrown away      0.00 -1121     -0.00
           SKU                         Descr     UnitP   Qty       Rev
299983       B               adjust bad debt -12901.68     1 -12901.68
299984       B               adjust bad debt -12901.68     1 -12901.68
225529   23005  printing smudges/thrown away      0.00 -9600     -0.00
225530   23005  printing smudges/thrown away      0.00 -9600     -0.00
225528   23003  printing smudges/thrown away      0.00 -9058     -0.00
115818  72140F                    throw away      0.00 -5368     -0.00
431381  79323W         unsaleable, destroyed      0.00 -4830     -0.00
341601   16045                           NaN      0.00 -3667     -0.00
323458   16259                           NaN      0.00 -3167     -0.00
263884   20713   wrongly marked 23343 in box      0.00 -3100     -0.00

In [55]:
# Now in descending order (both columns)
sorted = prodsold.sort_values(['UnitP','Qty'],
ascending=False)
print(sorted.head(10))
# Now in ascending for Unit Price and then in
# descending order for Quantity
sorted = prodsold.sort_values(['UnitP','Qty'],
ascending=[True,False])
print(sorted.head(10))

              SKU            Descr     UnitP  Qty       Rev
222681          M           manual  45450.71   -1 -45450.71
524602  AMAZONFEE       amazon fee  20802.66   -1 -20802.66
43702   AMAZONFEE       amazon fee  19696.50   -1 -19696.50
43703   AMAZONFEE       amazon fee  19189.96   -1 -19189.96
15017   AMAZONFEE       amazon fee  15793.25    1  15793.25
15016   AMAZONFEE       amazon fee  15793.25   -1 -15793.25
16356   AMAZONFEE       amazon fee  15793.25   -1 -15793.25
16232   AMAZONFEE       amazon fee  15715.65   -1 -15715.65
524601  AMAZONFEE       amazon fee  13513.33   -1 -13513.33
299982          B  adjust bad debt  12901.68    1  12901.68
           SKU                                Descr     UnitP    Qty       Rev
299983       B                      adjust bad debt -12901.68      1 -12901.68
299984       B                      adjust bad debt -12901.68      1 -12901.68
502122   84826       asstd design 3d paper stickers      0.00  12540      0.00
74614    37413                                  NaN      0.00   5568      0.00
220843  85123A                                    ?      0.00   4000      0.00
263885   23343                  came coded as 20713      0.00   3100      0.00
115807   84988                                    ?      0.00   3000      0.00
74615   79063D                                  NaN      0.00   2560      0.00
160541  47556B  did  a credit  and did not tick ret      0.00   1300      0.00
203751  47566B  incorrectly credited c550456 see 47      0.00   1300      0.00

In [56]:
# Create a Boolean array for all products
# with price > 9.99
atleast10 = prodsold.UnitP > 9.99
print(atleast10)
# filter the prodsold DataFrame accordingly
atleast10_df = prodsold[atleast10]
print(atleast10_df)

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: UnitP, Length: 541909, dtype: bool
          SKU                            Descr  UnitP  Qty     Rev
16      22622   box of vintage alphabet blocks  11.60    2   23.21
45       POST                          postage  20.99    3   62.98
65      21258       victorian sewing box large  12.77   32  408.67
141         D                         discount  32.07   -1  -32.07
151     22839  3 tier cake tin green and cream  17.44    2   34.87
...       ...                              ...    ...  ...     ...
541767   POST                          postage  20.99    2   41.99
541768   POST                          postage  20.99    3   62.98
541786  22622   box of vintage alphabet blocks  13.94    6   83.62
541849  22894     tablecloth red apples design  11.60    2   23.21
541892  21217    red retrospot round cake tins  10.44   24  250.52

[32822 rows x 5 columns]

In [57]:
# Create a Boolean array for all returns
# (or discounts, fees and charges)
returns = prodsold.Qty < 0
# filter the prodsold DataFrame accordingly
returns_df = prodsold[returns]
print(returns_df)
# use both conditions to filter
returns_atleast10_df = prodsold[returns & atleast10]
print(returns_atleast10_df)
# & means AND | means OR ~ means NOT

           SKU                             Descr   UnitP  Qty     Rev
141          D                          discount   32.07   -1  -32.07
154     35004C   set of 3 coloured  flying ducks    5.42   -1   -5.42
235      22556     plasters in tin circus parade    1.92  -12  -23.09
236      21984   pack of 12 pink paisley tissues    0.34  -24   -8.12
237      21983   pack of 12 blue paisley tissues    0.34  -24   -8.12
...        ...                               ...     ...  ...     ...
540449   23144   zinc t-light holder stars small    0.97  -11  -10.65
541541       M                            manual  262.06   -1 -262.06
541715   21258        victorian sewing box large   12.77   -5  -63.85
541716   84978  hanging heart jar t-light holder    1.46   -1   -1.46
541717   20979     36 pencils tube red retrospot    1.46   -5   -7.29

[10624 rows x 5 columns]
          SKU                            Descr   UnitP  Qty     Rev
141         D                         discount   32.07   -1  -32.07
1978    22767       triple photo frame cornice   11.60   -2  -23.21
3410    22839  3 tier cake tin green and cream   17.44   -2  -34.87
4836    22501       picnic basket wicker large   11.60   -2  -23.21
4878    85066      cream sweetheart mini chest   14.87   -2  -29.74
...       ...                              ...     ...  ...     ...
538561  23462         rococo wall mirror white   23.27   -1  -23.27
540081  23458          dolly cabinet 3 drawers   17.44   -1  -17.44
540087  22838    3 tier cake tin red and cream   17.44   -1  -17.44
541541      M                           manual  262.06   -1 -262.06
541715  21258       victorian sewing box large   12.77   -5  -63.85

[1410 rows x 5 columns]

In [58]:
# Several columns are missing data:
print(sales.shape)
print(sales.count())

(541909, 8)
InvNo      541909
SKU        541909
Descr      540455
Qty        541909
InvDate    541909
UnitP      541909
CusID      406829
Cntry      541909
dtype: int64

In [59]:
# Example
import pandas as pd
from numpy import nan as NA
myseries = pd.Series([1, NA, 3.5, NA, 7])
print(myseries.isnull())
print(myseries.dropna())
# which is equivalent to
print(myseries[myseries.notnull()])

0    False
1     True
2    False
3     True
4    False
dtype: bool
0    1.0
2    3.5
4    7.0
dtype: float64
0    1.0
2    3.5
4    7.0
dtype: float64

In [60]:
mydf = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA,
NA, NA], [NA, 6.5, 3.]])
print(mydf)
cleaned = mydf.dropna()
print(cleaned)
# Equivalent to passing how='any':
cleaned = mydf.dropna(how='any')
print(cleaned)
# Passing how='all' will only drop rows that are all NA:
cleaned = mydf.dropna(how='all')
print(cleaned)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0